.header_container{
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

    .header_content{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    
        .company_logo{
            height: 50px;
        }

        
        img{
                height: 100%;
        }
    
    .menu_container{
            display: flex;
            align-items: center;
            justify-content: end;
    }

    
    .user_home{
        padding-right: 20px;
    }

.nav_header{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto';
    color: #545c68;
}

.user_icon{
    width: 30px;
    height: 30px;
}